.milestone {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 143%;
    border: solid 2px black;
    bottom: 20px;
    right: 25px;
    text-align: center;
    line-height: 18px;
    background-color: white;
}

.milestone .hores {
    top: 10px;
    position: relative;
}

.milestone .frases {
    top: 6px;
    position: relative;
    font-size: 10px;
}

.sorteig {
    border: solid 2px black;
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
}

#hours {
    position: relative;
    right: 40px;
    color: white;
    font-weight: bold;
}

.full-container {
    padding: 25px;
}

.milestone-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;

    width: 500px;
    border: solid 2px black;
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
}

.noactiu {
    opacity: 0.5;
}

.milestone-desc.assolit {
    border: solid 2px orange;
}

.milestone-desc img {
    width: 80%;
    display:block;
    margin:auto;
    margin-bottom: 25px;
    margin-top: 10px;
}